FTL API (and web interface) cannot handle TXT queries with spaces in them

It is invalid to have A or AAAA queries that have spaces in them, however, TXT queries can have spaces. The FTL API and the web interface cannot handle these queries due to the API using space separated fields. Here are the relevant sections from the [DNS-SD RFC](https://tools.ietf.org/html/rfc6763) showing that TXT queries can have spaces:

> This document specifies that a particular service instance can be
    described using a DNS SRV [RFC2782] and DNS TXT [RFC1035] record.
    The SRV record has a name of the form `"<Instance> . <Service> . <Domain>"`
    and gives the target host and port where the service instance can be
    reached. **The DNS TXT record of the same name** gives additional
    information about this instance, in a structured form using key/value
    pairs, described in Section 6. A client discovers the list of
    available instances of a given service type using a query for a DNS
    PTR [RFC1035] record with a name of the form "Service.Domain",
    which returns a set of zero or more names, which are the names of the
    aforementioned DNS SRV/TXT record pairs.

> The result of this PTR lookup for the name "." is a
    set of zero or more PTR records giving Service Instance Names of the
    form:

> `Service Instance Name = <Instance> . <Service> . <Domain>`

> The `<Instance>` portion of the Service Instance Name is a user-
    friendly name consisting of arbitrary Net-Unicode text [RFC5198]. It
    MUST NOT contain ASCII control characters (byte values 0x00-0x1F and
    0x7F) [RFC20] but otherwise is allowed to contain any characters,
    without restriction, **including spaces**, uppercase, lowercase,
    punctuation -- including dots -- accented characters, non-Roman text,
    and anything else that may be represented using Net-Unicode.

(emphasis mine)

You are right. However, we cannot really change the separator. The reason for not fixing this is that many user-scripts are using the telnet API and changing the separator would break them for quite an edge-case. My declaration of edge-case is because we use space as PI separator for quite some time (four years at minimum) and this is the first report. Still, don't get me wrong we will surely fix this *somehow*. I propose two possible solutions:

1. Replace spaces by some other character and undo this in the web interface immediately before displaying. The question would, however, be replace with what given that "is allowed to contain any characters" with the sole exception of "MUST NOT contain ASCII control characters". So we'll likely have to abuse one of them. I'm not very happy with this approach.
2. The next generation of FTL/Pi-hole (scheduled to become v6.0 and hopefully rolled out sometime next year) moves the API completely away from the legacy telnet interface with all its drawbacks towards a full REST JSON HTTP API *directly* served by FTL. The JSON encoder we have in there already does all required escaping/encoding such that the issue would "auto-resolve" in some way.

Points 1 and 2 are independent solutions. They could even be combined. I will think some more about no. 1

Given the difficulty of solving this, and that you have #2 already in progress to replace the API, if it were me I'd just file this as a known problem that will be fixed with the new API. The frontend will need to handle the spaces as well, though. Speaking of, I see the branch for the new API in FTL, but I don't see frontend code consuming it. Is there a frontend already in progress that uses the new API? I'd like to check it out.

https://github.com/pi-hole/AdminLTE/tree/new/FTL_is_my_new_home

Thanks!

PR #997 fixed this and is included in the just released FTL v5.3.3.